<html>
  <head>
    <title>Instagram</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" ../static/css/Inst.CSS">
  </head>
  <body>
    <div class="Menu">
      <body background = " ../static/imagenes/lobo.jpg">
      {% csrf_token %}
      <button type="button" id = "home"><i class="material-icons">home</i></button>
      <button type="button" id = "search"><i class="material-icons">location_searching</i></button>
      <button type="button" id = "photos"><i class="material-icons">photo_camera</i></button>
      <button type="button" id = "profile"><i class="material-icons">person</i></button>

    </div><br>
    <a href="{% url 'logout' %}">Cerrar Sesion</a>
   </body>
</html>
