#formulario{
  color: rgb(255, 204, 102);
  border-style: solid;
  width: 45%;
  text-align: center;
  float: right;
}

#imagenes{
border-style: solid;
width: 50%;
text-align: center;
}

#Img1{
  height: 50px;
  width:  auto;
  border-radius: 20%;
  background-color: white;
}
#Img2{
  height: 100px;
  width: auto;
  border-radius: 20%;
  background-color: blue;
}

.card button{
  background-color: red;
  color: white;
  border-color: white;
}
.card{
  float: right;
}
